.container {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: 1200px) {
        max-width: 90%;
        padding: 0 70px;
    }
    @media (max-width: 1024px) {
        max-width: 90%;
        padding: 0 60px;
    }
    @media (max-width: 768px) {
        max-width: 90%;
        padding: 0 30px;
    }
    @media (max-width: 576px) {
        max-width: 100%;
        padding: 0 15px;
    }
    @media (max-width: 390px) {
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}
img {
    user-select: none;
    pointer-events: none;
}